.calculator {
    display: grid;
    height: 450px;
    width: 400px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
        "display display display"
        "add subtract clr"
        "multiply divide equal";
    gap: 3px;
    margin: auto;
    font-family: 'Courier New', Courier, monospace;
}

button {
    border-style: solid;
    border-color: black;
    border-width: 2px;
    background-color: white;
    color: black;
    font-size: 50px;
}

button:hover {
    background-color: gray;
}
button:active {
    background-color: black;
    color: white;
}


#display {
    grid-area: display;
    border-style: solid;
    border-width: 2px;
    text-align: end;
    font-size: 135px;
}

#add {grid-area: add;}
#subtract {grid-area: subtract;}
#clr {grid-area: clr;}
#multiply {grid-area: multiply;}
#divide {grid-area: divide;}
#equal {grid-area: equal;}