.calculator {
    display: grid;
    height: 450px;
    width: 400px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: 
        "display display display display"
        "seven eight nine divide"
        "four five six multiply"
        "one two three subtract"
        "clr zero equal add";
    gap: 3px;
    margin: auto;
    font-family: 'Courier New', Courier, monospace;
}

button {
    border-style: solid;
    border-color: black;
    border-width: 2px;
    color: black;
    font-size: 20px;
}

button.number {
    background-color: white;
}
.number:hover {
    background-color: gray;
}
.number:active {
    background-color: black;
    color: white;
}

button.operator {
    background-color: cyan;
}
.operator:hover {
    background-color: rgb(0, 212, 212);
}
.operator:active {
    background-color: rgb(0, 177, 177);
    color: white;
}

button.equal {
    background-color: greenyellow;
}
.equal:hover {
    background-color: rgb(139, 207, 37);
}
.equal:active {
    background-color: rgb(116, 172, 34);
    color: white;
}

button.clear {
    background-color: rgb(204, 204, 204);
}
.clear:hover {
    background-color: rgb(158, 158, 158);
}
.clear:active {
    background-color: rgb(114, 114, 114);
    color: white;
}

#display {
    grid-area: display;
    border-style: solid;
    border-width: 2px;
    text-align: end;
    font-size: 73px;
}

#zero {grid-area: zero;}
#one {grid-area: one;}
#two {grid-area: two;}
#three {grid-area: three;}
#four {grid-area: four;}
#five {grid-area: five;}
#six {grid-area: six;}
#seven {grid-area: seven;}
#eight {grid-area: eight;}
#nine {grid-area: nine;}
#add {grid-area: add;}
#subtract {grid-area: subtract;}
#clr {grid-area: clr;}
#multiply {grid-area: multiply;}
#divide {grid-area: divide;}
#equal {grid-area: equal;}